.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

#search {
    padding: 10px;
    width: 600px;
    margin: 5px;
    border: black solid 1px;
    border-radius: 10px;
}

button {
    background-color: greenyellow;
    border: black solid 1px;
    border-radius: 10px;
    width: 7%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.div-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.bbs_list_wrap_nomargin {
    margin: 2%;
}

.news_image {
    margin: 2%;
}